* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.title {
  text-align: center;
  width: 100%;
  padding: 1.2rem 0;
  background-color: #f0efef;
  box-shadow: 0 0 0.3rem 0.05rem #7272728c;
}
.title h1 {
  color: #f2a93b;
  font-weight: 400;
  font-size: 2.5rem;
}
.title p {
  color: #565657;
  font-weight: 400;
  font-size: 1.2rem;
}
.info {
  /* background-color: #f3f3f3; */
  text-align: center;
  padding: 1.2rem 0;
  box-shadow: 0 0 0.3rem 0.1rem #7272728c;
}
.info span {
  background-color: #f2a93b;
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
}
.info span:first-child {
  margin-right: 0.5rem;
}
.info p {
  margin-top: 1rem;
}
.main {
  width: 100%;
  background-color: #f0efef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.name {
  height: max-content;
  width: 100%;
  color: #565657;
}
/* .charts {
  height: max-content;
  width: 40%;
  margin: 0 0.3rem;
} */
/* .figures {
  height: max-content;
  width: 10%;
  color: #565657;
} */
